body {
	font-family:arial, helvetica, sans-serif;
	font-size: 100%;
	color: #999;
	color: rgba(0,0,0,.8);
}

a {
	color:#FF6600;
	color: rgba(255,102,0,1);
}

a:hover {
	color:#FF6600;
	color: rgba(255,102,0,.75);
}

a:visited {
	color:#FF6600;
	color: rgba(255,102,0,.5);
}

ul, ol {
	margin:.25em 1em;
	padding: .25em; 
}

h1, h2, h3 {
	margin:.5em 0 0;
	color: #999;
	color: rgba(0,0,0,.8);
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

img {
	max-width:100%; /* make em respond */
}

section { /* main content area */
	font-size: 90%;
}

article {
	padding: 0 1em 1em;
}

header {
	margin:0;
	position: relative;
}

header h1,
header h2 {
	margin:.25em;
}



nav {
	font-size: 90%;
	margin:0;
	padding:.25em;
	background-color: #333;
	background-color: rgba(0,0,0,.7);
}

nav li {display: inline-block;}

nav a,
nav a:visited {
	text-decoration: none;
	font-weight:bold;
	padding-right:.25em;
	border-right:1px solid #fff;
}

nav a:hover {
	border-right:1px solid #fff;
}

nav li:last-child a {
	border-right: 0;
}

header ul,
footer ul {margin:0;}

footer {
	color: #fff;
	color: rgba(255,255,255,.8);
	background-color: #333;
	background-color: rgba(0,0,0,.7);
	padding: .5em;
}

footer nav li,
footer nav {
	display: block;
}

footer nav a {
	display: block;
	padding:.25em;
	border:1px solid #fff;
}


footer {
	clear: both; 
	padding:1em; 
	margin:1em auto 0 auto;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

section li {
	margin:.5em;
}

/* homemade grid */
[class*="col"] {
	float: left;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
}

[class*="col"].floatR {float: right !important;} /* love it */

.col25 {width:25%;}
.col30 {width:30%;}
.col33 {width:33.33%;}
.col40 {width:40%;}
.col50 {width:50%;}
.col60 {width:60%;}
.col66 {width:66.66%;}
.col70 {width:70%;}
.col75 {width:75%;}
.col100 {width:100%;}

/* specific overrides and rules */



/* utilities */
.floatL {float: left;}
.floatR {float: right;}
.noShow {display: none;}
.clear {clear: both;}
.blockMe {display: block;}
.noDisplay {display: none;}

/* margin and padding */
.mui-m-n {margin:0;}
.mui-m-all {margin:.5em;}
.mui-m-h {margin:.25em;}
.mui-m-d {margin:1em;}

.mui-m-t {margin-top:.5em;}
.mui-m-b {margin-bottom:.5em;}
.mui-m-l {margin-left:.5em;}
.mui-m-r {margin-right:.5em;}

.mui-p-n {padding:0;}
.mui-p-all {padding:.5em;}
.mui-p-h {padding:.25em;}
.mui-p-d {padding:1em;}

.mui-p-t {padding-top:.5em;}
.mui-p-b {padding-bottom:.5em;}
.mui-p-l {padding-left:.5em;}
.mui-p-r {padding-right:.5em;}

.small {} /* use to show only when smaller than 900px - media query activated */
.large {} /* use to show only when larger than 900px - media query activated  */ 


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after,
section:before,
section:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after,
section:after {
    clear: both;
}

/* responsive video stuff */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* - See more at: http://avexdesigns.com/responsive-youtube-embed/#sthash.iXR5FTI6.dpuf */

/* blockquote styles */
blockquote {
	font-family: Georgia, serif;
	font-size: 1.2em;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #999;
	color: rgba(0,0,0,.8);
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 5em;
	position: absolute;
	left: -12px;
	top: -12px;
	color: #333;
	color: rgba(0,0,0,.7);
}

blockquote cite {
	color: #999;
	color: rgba(0,0,0,.8);
	font-size: .8em;
	display: block;
	margin-top: .25em;
}
 
blockquote cite:before {
	content: "\2014 \2009";
}


/* media queries for layout and background */

@media all and (max-width: 500px) {
	

	.members {
		text-align: center;
	}

	.members h4 {
		display: inline-block;
		margin:.25em;
	}

}

@media all and (min-width: 500px) {

	nav {
		font-size: 100%;
	}

}

@media all and (max-width: 600px) {
	[class*="col"] {
		float: none;
		width:100%;
	}

}

@media all and (max-width:899px) {
	.large {
		display: none;
	}
}



@media all and (min-width: 900px) {

	body {
		background:#3b3833 url(../assets/homeWebLow.jpg) no-repeat 0 0;
		background-size: cover;
	}


		/* very specific overrides */
	.col70,
	.col30 {width:50%;}

	.small {
		display: none;
	}

}

@media all and (min-width: 1201px) {
	


}